
header{
    background-color: rgb(104, 194, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    gap:10px;
    list-style-type: none; 
}
ul li a{
    text-decoration: none;
    color:black;
}
#about{
    margin-top: 5px;
    display: flex;
    gap: 30px;
    /* justify-content:center; */
    /* align-items: center; */
    background-color:rgb(96, 148, 159);
    padding: 10px;
    
}
#about > div >img{
    width: 20%;
    border-radius: 70%;
}
#about-right{
    font-size: 25px;
    font-family: cursive;
    /* position: relative;
    right: 10em;
    top: 3em; */
}
#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(164, 246, 213);
    margin-top: 5px;
    padding: 10px;
}
table ,th,td{
    border:1px solid black;
    border-collapse:collapse
}
th,td{
    padding: 20px 50px;
}
th{
    background-color: rgb(246, 151, 198);
}
td{
    background-color: #b8f6ad;
}
#projects{
    display: flex;
    gap: 10px;
}
#projects > div{
    margin-top: 5px;
    background-color:#cef3d1 ;
    width: 370px;
    height: 330px;
}
#projects div > img{
    width: 100%;
    height: 80%;
}
#projects div > h3{
    margin-top: -2px;

}
#projects div > span{
    margin-top: -10px;
}
.p-link{
    display: flex;
    justify-content: space-between;
}
#contact{
    margin-top: 5px;
    text-align: center;
    background-color: #C8A1E0;
    padding: 10px;
}
#contact input{
    width: 50%;
    padding: 10px 0px;
    font-size: 20px;
    text-align: center;
    border-radius: 14px;
    outline: none;
    border: none;
    background-color: whitesmoke;
}
#contact P{
    background-color: rgb(100, 100, 245);
    padding: 10px;
    width: 50%;
   margin: 1% auto;
}
footer{
    margin-top: 10px;
    padding: 5% ;
    font-size: 30px;
    background-color: rgb(99, 247, 119);
}
footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer .social-Links,footer{
    display: flex;
    justify-content: space-around;
}
header:hover{
    background-color: #d4e188;
}
#about div img:hover{
    transform: scale(1.1,1.1);
}
#skills:hover{
    background-color: #EECAD5;
}
#skills table:hover{
    transform: skew(5deg);
}
#projects:hover{
    background-color: #FFD0D0;

}
.portfolio-p:hover{
    transform: scale(1.1,1.1);

}
.ecom-p:hover{
    transform: scale(1.05,1.05);

}
.amazon-clone-p:hover{
    transform: scale(1.05,1.05);

}
.expense-p:hover{
    transform: scale(1.1,1.1);

}
#contact:hover{
    transform: scale(1.1,1.1);
    background-color: #FFD0D0;

}
#contact p:hover{
    background-color: rgb(144, 227, 244);
    border-radius: 30px;
}
footer:hover{
    background-color: rgb(117, 230, 232);
}
@media (max-width: 670px) {
    ul {
        flex-direction: column;
        align-items: center;
    }

    ul li {
        flex-direction: column;
        gap: 10px;
    }

    ul li a {
        padding: 8px 12px;
        font-size: 16px;
    }

    #projects {
        flex-direction: column;
        align-items: center;
    }

    #projects{
        flex: 1 1 100%;
    }
    #skills {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    
}
